*,
*::before,
*::after {
  box-sizing: border-box;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.button {
  cursor: pointer;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  background-color: #ffffff;
  color: #434455;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.name {
  background-color: #2e2f42;
}

.name-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.title-button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: 0;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-button:hover,
.title-button:focus {
  background-color: #404bbf;
  color: #404bbf;
  cursor: pointer;
}

.text-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.company {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.list-developer {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.title-list-developer {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.object {
  background-color: #ffffff;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.specialist-position {
  padding-top: 32px;
  padding-bottom: 32px;
}

.name-developer {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.developer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.team-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-icon-item {
  width: 40px;
  height: 40px;
}

.team-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-icon:hover,
.team-link-icon:focus {
  background-color: #404bbf;
}

.team-icon-image {
  fill: #f4f4fd;
}

.text-portfolio {
  background-color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-images {
  position: relative;
  overflow: hidden;
}

.overlay {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ideas-item:hover .overlay {
  transform: translateY(0);
}

.ideas-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.specialist-position-portfolio {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-top: none;
}

.text-service {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text-list-service {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.title-footer {
  background-color: #2e2f42;
}

.title-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.accent-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  color: #f4f4fd;
}

.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-icon-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

.footer_icon {
  fill: #f4f4fd;
}

.footer-email-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  flex-shrink: 0;
  outline: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
  background-color: #404bbf;
}

.footer-subscribe-icon {
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* ================================================= MOBILE 👇 ========================================= */
@media screen and (max-width: 767px) {
  .menu-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  }

  .container-header {
    display: flex;
  }

  .header-navigation {
    display: flex;
    align-items: center;
  }

  .title-logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 76px;
  }

  .title-text {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #2e2f42;
  }

  .menu-title-studio {
    display: none;
  }

  .header-menu-item {
    font-style: normal;
    font-weight: 500;
    margin-right: 40px;
  }

  .menu-title:hover,
  .menu-title:focus {
    color: #404bbf;
  }

  .menu-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    margin-right: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-title.current {
    color: #404bbf;
  }

  .menu-title.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
    bottom: -1px;
    left: 0;
  }

  .menu {
    display: none;
  }

  .link-menu-address {
    display: flex;
    gap: 40px;
  }

  .link-menu {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-menu:hover,
  .link-menu:focus {
    color: #404bbf;
  }

  .menu-header .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-menu-open {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border-radius: 3px;
    border: none;
    margin-bottom: 16px;
    &::after {
      content: "";
      width: 18px;
      height: 3px;
      border-radius: 25px;
      background-color: #2f2f37;
      position: absolute;
      box-shadow: 0 5px 0 0 #2f2f37, 0 10px 0 0 #2f2f37;
    }
  }

  .mobile-menu {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    transform: translateX(100%);
    padding-top: 72px;
  }

  /* .mobile-menu.is-open {
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  } */

  .mobile-menu-close {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close:hover,
  .mobile-menu-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #fff;
  }

  .mobile-menu-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mob-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 168px;
  }

  .mob-menu-item {
    padding-left: 16px;
  }

  .mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mob-menu-link:hover,
  .mob-menu-link:focus {
    color: #404bbf;
  }

  .mob-menu-link.current {
    color: #404bbf;
  }

  .mobile-address {
    margin-top: auto;
    padding-left: 16px;
  }

  .mob-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
  }
  .mob-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mob-address-link:hover,
  .mob-address-link:focus {
    color: #4d5ae5;
  }

  .social-container {
    margin-bottom: 72px;
  }

  .mob-social-list {
    display: flex;
    justify-content: start;
    gap: 40px;
  }

  .mob-social-item {
    width: 40px;
    height: 40px;
  }

  .mob-soc-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mob-soc-icon-link:focus {
    background-color: #404bbf;
  }

  .mob-menu-soc_icon {
    fill: #f4f4fd;
  }

  /* ======EFFECTIVE solution for YOUR BUSINESS *============*/

  .name {
    padding: 122px 0;
  }

  .name-image {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/main/people-mob-office1x.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .name-image {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/main/people-mob-office@2x.jpg");
    }
  }

  .office-container {
    display: block;
    text-align: center;
  }

  .name-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 320px;
    margin: 0 auto 72px;
  }

  /* =======FEATURES========= */

  .section-features {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .section-features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }

  .text-style {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .text-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  /* ====OUR TEAM==== */

  .list-developer {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .developer-container {
    display: flex;
    flex-direction: column;
  }

  .title-list-developer {
    margin-bottom: 72px;
  }

  .section-developer-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  .object {
    width: 264px;
  }
  /* =====PORTFOLIO===== */

  .portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .portfolio-container {
    display: flex;
    flex-direction: column;
  }

  .app-ideas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 48px;
  }

  .ideas-item {
    width: calc((100% - 4 * 24) / 6);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .overlay {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 40px 32px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .ideas-item:hover .overlay {
    transform: translateY(0);
  }

  .portfolio-images {
    position: relative;
    overflow: hidden;
  }

  /* ====FOOTER====== */

  .title-footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .footer_logo {
    width: 264px;
    margin: 0 auto;
    margin-bottom: 72px;
    text-align: center;
  }

  .text-footer {
    text-align: initial;
  }

  .footer-icon-text {
    text-align: center;
    margin-bottom: 16px;
  }

  .footer-icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 72px;
  }

  .footer-icon-item {
    width: 40px;
    height: 40px;
  }

  .footer-email {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }

  .footer-email-text {
    text-align: center;
  }

  .footer-input {
    margin-bottom: 16px;
    width: 288px;
  }

  .footer-button {
    margin-left: auto;
    margin-right: auto;
  }

  .footer-subscribe-icon {
    margin-left: 16px;
  }
}

/* ===MODAL WINDOW==== */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover,
.modal-button-close:focus {
  border: none;
  background-color: #404bbf;
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover .modal-close-icon,
.modal-button-close:focus .modal-close-icon {
  fill: #fff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
  display: block;
}

.modal-wrapper {
  margin-bottom: 8px;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-name-icon {
  position: relative;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-comment {
  margin-bottom: 16px;
}

.modal-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  background-color: transparent;
  outline: transparent;
  resize: none;
  flex-shrink: 0;
  min-height: 120px;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-text:focus {
  border-color: #4d5ae5;
}

.modal-check {
  margin-bottom: 24px;
}

.modal-check-input:checked + .modal-check-text .modal-check-box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-check-box {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-link-text {
  margin-left: 4px;
  color: #4d5ae5;
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-link-text:hover,
.modal-link-text:focus {
  color: #404bbf;
}

.modal-button-submit {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  margin: 0 auto;
  display: block;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-submit:hover,
.modal-button-submit:focus {
  background-color: #404bbf;
}
/* ================================================= TABLET ========================================= */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .modal {
    width: 408px;
    min-height: 584px;
  }

  .menu-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  }

  .container-header {
    display: flex;
  }

  .header-navigation {
    display: flex;
    align-items: center;
  }

  .title-logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 120px;
  }

  .title-text {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
  }

  .menu-title-studio {
    display: flex;
  }

  .header-menu-item {
    font-style: normal;
    font-weight: 500;
    margin-right: 48px;
  }

  .menu-title:hover,
  .menu-title:focus {
    color: #404bbf;
  }

  .menu-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    margin-right: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-title.current {
    color: #404bbf;
  }

  .menu-title.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
    bottom: -1px;
    left: 0;
  }

  .menu {
    display: flex;
  }

  .link-menu-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .link-menu {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-menu:hover,
  .link-menu:focus {
    color: #404bbf;
  }

  .menu-header .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-menu-open,
  .mobile-menu {
    display: none;
  }

  .name {
    padding: 122px 0;
  }

  .name-image {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/main/people-office-tabl@1x.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .name-image {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/main/people-office-tabl@2x.jpg");
    }
  }
  .section-features {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .section-features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .section-features-item {
    width: calc((100% - 24px) / 2);
  }

  .text-style {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .text-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .list-developer {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .developer-container {
    display: flex;
    flex-direction: column;
  }

  .title-list-developer {
    margin-bottom: 72px;
  }

  .section-developer-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    justify-content: center;
    align-items: center;
  }

  .object {
    width: 264px;
  }

  .portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .app-ideas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
  }

  .ideas-item {
    width: calc((100% - 24px) / 2);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .overlay {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 40px 32px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .ideas-item:hover .overlay {
    transform: translateY(0);
  }

  .title-footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .footer-container {
    max-width: 768px;
    margin-left: 108px;
    text-align: start;
    display: flex;
    flex-wrap: wrap;
  }

  .footer_logo {
    width: 264px;
    margin: 0 24px 0 0;
  }

  .footer-icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .footer-icon-item {
    width: 40px;
    height: 40px;
  }

  .footer-email {
    margin-top: 72px;
  }

  .footer-form {
    display: flex;
    gap: 24px;
  }

  .footer-subscribe-icon {
    margin-left: 16px;
  }
}
/* ================================================= NOT DESKTOP ========================================= */
@media screen and (max-width: 1157px) {
  .company {
    display: none;
  }
}
/* ================================================= DESKTOP ========================================= */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .modal {
    width: 408px;
    min-height: 584px;
  }

  .title-logo {
    margin-right: 76px;
  }

  .menu {
    display: flex;
  }

  .link-menu-address {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .link-menu {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .name {
    padding: 188px 0;
  }

  .name-image {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/main/people-office.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .name-image {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/main/people-office@2x.jpg");
    }
  }

  .section-features {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .section-features-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .section-features-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .text-style {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .text-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .section-developer-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .ideas-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .overlay {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 40px 32px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .ideas-item:hover .overlay {
    transform: translateY(0);
  }

  .title-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    flex-wrap: nowrap;
    align-items: baseline;
    margin-left: auto;
  }

  .footer_logo {
    margin-right: 120px;
  }

  .footer-icon {
    margin-right: 80px;
  }

  .text-footer {
    max-width: 264px;
  }
}
